.content {
    display: flex;
    justify-content: center;
}

.content_container {
    width: 65%;
    margin-top: 2vh;
}

.none {
  display: none !important;
}

body {
  font-family: sans-serif;
}

p {
  margin: 0 0 5px;
}

.article {
  background: #FFF;
  border: 1px solid rgba(0, 89, 181, 0.82);
  width: 600px;
  margin: 0 0 5px;
  box-shadow: 2px 2px 5px -1px rgb(0, 81, 202);
  padding: 3px 5px;
}

.news {
  margin-top: 2vh;
}

.news_author {
  text-decoration: none;
  color: #007DDC;
  position: absolute;
}

.news_text {
  padding: 5px 5px 10px 5px;
}

.news_title p{
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

.add {
  margin: 0 5px 5px 0;
  width: 70%;
  padding: 5px;
}

.add_title, .add_text, .add_btn {
  display: block;
  margin-bottom: 5px;
  padding: 5px;
  width: 100%;
  border: 1px solid rgba(0, 89, 181, 0.8);
  border-radius: 3px;
}

.add_btn {
  color: #FFF;
  text-transform: uppercase;
  background: #007DDC;
}
.add_btn:disabled {
  background: #CCC;
  color: #999;
}

.app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.app h3 {
  text-align: center;
  width: 100%;
}

.sidebar p {
  padding: 5px;
}