{% extends "base/base.html" %}

{% block include-css %}
    {% load staticfiles %}
    <link href="{% static "css/index.css" %}" rel="stylesheet">
    <link href="{% static "css/profile.css" %}" rel="stylesheet">
    <link href="{% static "css/sidebar.css" %}" rel="stylesheet">
{% endblock %}

{% block title %}PetterPet{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        {% include "nav/profile.html" %}
    {% else %}
        {% include "login.html" %}
    {% endif %}

{% endblock %}