{% extends "base/base.html" %}

{% block include-css %}
    {% load staticfiles %}
    <link href="{% static "css/feed.css" %}" rel="stylesheet">
    <link href="{% static "css/sidebar.css" %}" rel="stylesheet">
{% endblock %}

{% block title %}Petter Pet{% endblock %}

{% block content %}

    <div class="row">
      <div class="col-md-3 col-sm-4">
          {% include "nav/sidebar.html" %}
      </div>
      <div class="profile col-md-6 col-sm-8 col-xs-12">
          <div id="root"></div>
      </div>
    </div>

    {% load staticfiles %}
    <script src="https://unpkg.com/react@15/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="{% static "js/browser.min.js" %}"></script>
    <script src="{% static "js/EventEmitter.js" %}"></script>
    <script type="text/babel" src="{% static "js/feed.js" %}"></script>

{% endblock %}