{% load staticfiles %}

{% if user.is_authenticated %}
    <div class="navbar-header">
      <a class="navbar-brand" href="/">PetterPet</a>
    </div>

    <ul class="nav navbar-nav navbar-right navbar-user">
        <li>
            <form class="navbar-form navbar-right" role="form">
                <button type="submit" class="btn btn-default">Welcome, {{user.username}}</button>
            </form>
        </li>
        <li>
            <form class="navbar-form navbar-right" role="form" action="/logout/">
                <button type="submit" class="btn btn-success">Logout</button>
            </form>
        </li>
    </ul>
{% endif %}