.content_container {
    margin-top: 10vh;
    min-height: 78vh;
}

footer .container {
    padding-top: 3vh;
}

.header_container, .content_container{
    padding: 0 15vw 0 15vw;
}

.content_container {
    width: 80%;
}

.content_container .row{
    margin: 0;
}

body {
    overflow-y: scroll;
}